[submodule "wrapper/SDL"]
	path = wrapper/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "wrapper/SDL_ttf"]
	path = wrapper/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "wrapper/SDL_mixer"]
	path = wrapper/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "wrapper/SDL_image"]
	path = wrapper/SDL_image
	url = https://github.com/libsdl-org/SDL_image
